{% extends 'app/templates/base.html' %}
{% block content %}
<main>


{# signup処理部分 #}
<form method="POST" action="{% url 'app:signup' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ forms.username.label_tag }}</td>
    <td>{{ forms.username }}</td>
</tr>
<tr>
    <td>{{ forms.email.label_tag }}</td>
    <td>{{ forms.email }}</td>
</tr>
<tr>
    <td>{{ forms.password1.label_tag }}</td>
    <td>{{ forms.password1 }}</td>
</tr>
<tr>
    <td>{{ forms.password2.label_tag }}</td>
    <td>{{ forms.password2 }}</td>
</tr>
</table>

<input type="submit" value="ログイン"">

{# エラーメッセージを表示 #}
{% if forms.errors %}
    {% for field in forms %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
     {% endfor %}
{% endif %} 
</form>
{% endblock %}